// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing
// Check the app.scss files to get options for only importing parts of Foundation

// Import _required-global.scss to make WordPress work with Foundation
@import "required-global";

/* ---------------------------------------------------
   Below this block you add your custom styles when
   using the SCSS version of required+ Foundation.
--------------------------------------------------- */
